/GetFileExtensions/bin/Debug/GetFileExtensions.exe
/GetFileExtensions/bin/Debug/GetFileExtensions.exe.config
/GetFileExtensions/bin/Debug/GetFileExtensions.pdb
/GetFileExtensions/bin/Debug/GetFileExtensions.vshost.exe
/GetFileExtensions/bin/Debug/GetFileExtensions.vshost.exe.config
/GetFileExtensions/bin/Debug/GetFileExtensions.vshost.exe.manifest
/GetFileExtensions/bin/Debug/extensions.txt
/GetFileExtensions/bin/Debug/nafaisys-extensions.txt
/GetFileExtensions/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GetFileExtensions/obj/x86/Debug/GetFileExtensions.csproj.FileListAbsolute.txt
/GetFileExtensions/obj/x86/Debug/GetFileExtensions.exe
/GetFileExtensions/obj/x86/Debug/GetFileExtensions.pdb
